#logo-web {
  margin-right: 10px;
  width:40px
}

.jumbotron {
  padding: 2rem 1rem;
  background-color:#f5e8bf;
}
.foto-profile {
  border-radius:50%;
}
#project {
  background-color:#f5e8bf; 
}

section {
  padding: 2rem;
}

#skill-stack {
  padding: 20px;
}
#col-skill {
  margin: 10px;
}
.img-logo {
  width: 120px;
  height: 120px;
}